/LilacParkTelegrammBot/bin/
/LylacParkServices/bin/
LilacParkTelegrammBot/obj/
LylacParkServices/obj/
.idea/
LilacParkTelegramBot/bin/
LilacParkTelegramBot/obj/
MotherGeo.Lilac.Api/bin/
MotherGeo.Lilac.Api/obj/
MotherGeo.Lilac.Telegram/bin/
MotherGeo.Lilac.Telegram/obj/
MotherGeo.Lilac.Api/GPUCache/
MotherGeo.Lilac.WinFormsTest/bin/
MotherGeo.Lilac.WinFormsTest/obj/
/.vs
/MotherGeo.Lilac.WinFormsTest
/MotherGeo.Lilac.Api/.config
/MotherGeo.Lilac.Api/Properties/PublishProfiles
